<div class="text-container">
	<h2>About SafeSpace</h2>

	<h3>Motivation</h3>

	<p>Poor mental health is a widespread, national issue that affects college students across the 
	country. UC Berkeley’s mental health resources are understaffed and underfunded—Tang 
	Counseling and Psychological Services have 50 counselors for 36,000 students. The rise in 
	severely needed counseling services with a decreasing counseling staff is a problematic 
	paradox. SafeSpace aims to improve the mental well­being of the general undergraduate 
	population of UC Berkeley.</p>

	<h3>Our Solution</h3>

	<p>SafeSpace is a website and mobile application for undergraduate students to comfortably share 
	their mental health issues through an anonymous, peer­led chat. Most students also feel 
	ashamed to seek out resources because of the stigma surrounding mental health, so 
	SafeSpace also aims to tap into those isolated populations of students who feel alone and 
	misunderstood. SafeSpace aims to facilitate first year, transfer, and minority students’ transition 
	to Cal by providing them an outlet for psychological support.</p>
</div>