<% content_for :top_content do %>
  <div class="jumbotron homepage">
    <div class="container vertical-center">
      <div class="my-header">Someone To Talk To</div>
      
      <div class="tagline">An anonymous chat platform empowering UC Berkeley students<br>
        to share their experiences pursuing mental wellness.</div>
      <% if !user_signed_in? %>
        <div class="my-button">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>College can be difficult</h1>
          <p>You're not alone. Talk to peers and trained peer counselors, completely anonymously.</p>

        </div>
        <div class="col-6">
          <div> There is going to be ana image here</div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>College can be difficult</h1>
          <p>You're not alone. Talk to peers and trained peer counselors, completely anonymously.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1>Resources</h1>
          <p>safespace is not a replacement for therapy or counseling.
            If you're seriously considering self-harm or suicide,
            contact these services immediately.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Crisis Support Services of Alameda County</h2>
          <h3>1-800-309-2131</h3>
          <br>
          <h2>Crisis Text Line</h2>
          <h3>Text "GO" to 741741</h3>
        </div>
      </div>
    </div>
<% end %>











