<div class="modal fade" id="tutorialFinish" tabindex="-1" role="dialog" aria-labelledby="tutorialFinishLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="block-modal-title">Congratulations!</h3>
		  	</div>

			<div class="modal-body">
				  <p>You're all done with the tutorial!</p>
				  <p>At times, a large school can feel a bit isolating and balancing out your academic success and mental wellness can be challenging. This can further distance you from the very thing you need: motivation to get professional help or find a support network.</p> 
				  <p>REMEMBER: <strong>Don’t be discouraged, not everyone will immediately find a perfect match. Keep chatting! We hope you’ll find a supportive community here at Berkeley by using SafeSpace.</strong></p>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
