<h3>Edit Profile</h3>

<div style="margin-top: 15px">
    <%= render 'form' %>
</div>

<%= link_to 'Show', @profile , class: 'btn btn-default btn-sm button-bottom' %>
<%= link_to "Back", :back, class: 'btn btn-default btn-sm button-bottom' %>
