<p id="notice"></p>

<p></p>
<div id="overlay"></div>

<div class="container-fluid">
	<div class="row">
	  
	    <div class="col-md-4 filters-container expose">
	        <legend class="filter-legend search-header" id="filter-tooltip" data-toggle="tooltip" title="Find a buddy that is like you!" data-placement="right" data-trigger="manual">Filter by</legend>
	        <%= render '/profiles/search_form' %>
	    </div>
	    
	    <div class="col-md-7 profile-results-container expose">
	        <legend style="margin-bottom:-5px;" class="search-header">
	        	Results
	        	<div class="users-found"><%= @num_profiles %> users found</div>
	        </legend>
	        <%= render '/profiles/search_results' %>
	    </div>
	</div>
</div>

