<p id="notice"></p>

<p></p>
<div id="overlay"></div>

<div class="container-fluid">
	<div class="row">
	  
	    <div class="col-md-4 filters-container expose">
	        <h3 class="filter-legend search-header" id="filter-tooltip" data-toggle="tooltip" title="Find a buddy that is like you!" data-placement="right" data-trigger="manual">Filter by</h3>
	        <%= render '/profiles/search_form' %>
	    </div>
	    
	    <div class="col-md-7 profile-results-container expose">
	        <div class="row search-header">
				<div class="col-md-9">
					<h3 style="margin-bottom:-5px;">Results</h3>
				</div>
				<div class="col-md-3">
					<br>
					<p class="status-text" id="num-users"> <%= @profiles.count %> users found</p>
				</div>

	        </div>
	        <%= render '/profiles/search_results' %>
	    </div>
	</div>
</div>

