<h1>New Profile</h1>

<!-- this is just code for editing taken from views/profiles/show_partials/_form.html.erb

update: this is unnecesary. we can just go to profiles/:id/edit-->
<%= render 'profiles/show_partials/form' %>

<%= link_to 'Back', profiles_path %>
