<br>
<div class="container-fluid">
	<ul class="nav nav-tabs">
		<li class="active"><a data-toggle="tab" href="#terms-of-service">Terms of Service</a></li>
		<li><a data-toggle="tab" href="#slide-one">Slide 1</a></li>
		<li><a data-toggle="tab" href="#slide-two">Slide 2</a></li>
		<li><a data-toggle="tab" href="#slide-three">Slide 3</a></li>
		<li><a data-toggle="tab" href="#slide-four">Slide 3</a></li> 
	</ul>

	<div class="tab-content">
		<div id="terms-of-service" class="tab-pane fade in active">
		</div>

		<div id="slide-one" class="tab-pane fade">
		    <%= render "edit_tab", body: RedCloth.new(@content.slide_one).to_html.html_safe, tag: "slide-one", name: :slide_one %>
		</div>

		<div id="slide-two" class="tab-pane fade">
			<%= render "edit_tab", body: RedCloth.new(@content.slide_two).to_html.html_safe, tag: "slide-two", name: :slide_two %>
		</div>

		<div id="slide-three" class="tab-pane fade">
			<%= render "edit_tab", body: RedCloth.new(@content.slide_three).to_html.html_safe, tag: "slide-three", name: :slide_three %>
		</div>

		<div id="slide-four" class="tab-pane fade">
			<%= render "edit_tab", body: RedCloth.new(@content.slide_four).to_html.html_safe, tag: "slide-four", name: :slide_four %>
		</div>
	</div>
</div>