$('.btn[data-toggle="modal"]').hide();
$('div.recommend-button').append("<h4> Recommendation Request Sent. </h4>");
$('.recommend-button > h4').addClass('rec-msg');
$('div.recommend-button').append("<p> A counselor will contact your referral as soon as possible. </p>");
console.log("created rec");

<% publish_to '/recommendations/new' do %>
	if ( !$("tr[data-rec-id='<%= @recommendation.id.to_s %>']").length ) {
		$('#rec-table > tbody:last').append("<%= j render( 'rec_row', recommendation: @recommendation, counselor_id:  ) %>");
		$('.unread-count').text("<%= Recommendation.unopened_count.to_s %>");
	}
<% end %>