<h3>User Recommendations</h3>

<table id="rec-table" class="table table-striped table-bordered table-condensed">
    <thead>
        <th>Username</th>
        <th>Reason</th>
        <th>Additional Information</th>
    </thead>

    <tbody>
    	<% if @recommendations.any? %>
	      	<%= render partial: 'rec_row', collection: @recommendations, as: :recommendation %>
	  	<% end %>
    </tbody>
</table>

<%= subscribe_to "/recommendations/new" %>
<%= subscribe_to "/recommendations/update" %>
<%= subscribe_to "/recommendations/resolve" %>