 <div class="horizontal-align">
  <div class="<%="#{status}"%>-status-indicator" style="display: inline-block;"></div>
  <%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', :class => "contact-list-name", remote: true %>
</div>
<% @conversation = Conversation.between(current_user.id, user.id).first %>
<div class="status-text truncate" data-conv-id="<%=@conversation.id.to_s%>">
	<%= render 'message_preview' %>
</div>