 <div class="horizontal-align">
  <div class="<%="#{status}"%>-status-indicator" style="display: inline-block;"></div>
  <%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', :class => "contact-list-name", remote: true %>
</div>
<div class="status-text truncate" data-conv-id="<%=@chat_convo.id.to_s if @chat_convo %>">
	<%= render 'message_preview', chat_convo: Conversation.between(current_user.id, user.id).first %>
</div>