<div class="chat-item">
	 <div class="horizontal-align">
		<div class="<%="#{user.online_status_css}"%>-status-indicator" style="display: inline-block;"></div>
			<%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', :class => "contact-list-name", remote: true %>
		</div>
	<div class="status-text"><%="#{user.online_status_css}".capitalize%></div>
</div>
