<div class="row">
  <div class="ui segment col-md-3 friend-list">
  <%= render "friend_list" %>    
  </div>

  <div class="col-md-6 chat-body" id="chat">
    <% if @conversation %>
      <% puts "convo1:" %>
      <% puts @conversation %>
      <%= render '/messages/chat' %>
    <% else %>
      <div class="pre-chat center-text">Pick a friend and start chatting!</div>
    <% end %>
  </div>
  <% puts "convo2:" %>
  <% puts @conversation.sender_id if @conversation %>
  <% puts @conversation.recipient_id if @conversation %>
  <div class="col-md-3 chat-sidebar">
    <%= render '/messages/chat_sidebar', conversation: @conversation if @conversation %>
  </div>
</div>


    
