console.log("got to js");
$(".mute-button > a").remove();
<% if to_boolean(@is_mute) %>
	console.log("append unmute");
	console.log("<%= @is_mute %>");
	$('#message_body').prop('disabled', true);
	$('.mute-button').append('<%= j render("unmute_button") %>');
<% else %>
	console.log("append mute");
	$('#message_body').prop('disabled', false);
	$('.mute-button').append('<%= j render("mute_button") %>');
<% end %>

$(".mute").tooltip({
	container: 'body',
	html: true,
	trigger: 'hover',
	template: '<div class="tooltip dropdown-tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>',
	title: 'You can Mute and Unmute a user whenever you want. You won’t be able to contact each other if they are muted.',
	placement: 'left'
});

$(".mute").on('click', function() {
	$(this).tooltip('hide')
})
