<div>
	<%= @typeform.embed_as(:modal, button_text: "Launch me!").html_safe%>
	<!-- <a class="typeform-share link" href="https://sagangwee.typeform.com/to/uOcIgm" data-mode="1" target="_blank">Launch me!</a>  -->
	<script>
	// 	(function() { 
	// 		var qs,js,q,s,
	// 		d = document,
	// 		gi = d.getElementById,
	// 		ce = d.createElement,
	// 		gt = d.getElementsByTagName,
	// 		id = 'typef_orm',
	// 		b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
	// 		if (!gi.call(d,id)) { 
	// 			js=ce.call(d,'script');
	// 			js.id=id;
	// 			js.src=b+'share.js';
	// 			q=gt.call(d,'script')[0];
	// 			q.parentNode.insertBefore(js,q)
	// 			// $('iframe').attr('id', 'something');
	// 		}
	// 	})()

			
	</script>

	<!-- <iframe id="anon-bio" src="https://sagangwee.typeform.com/to/uOcIgm" width="100%" height="700" frameborder="0"></iframe> -->
</div>



