<div>
  <% flash.each do |name, message| %>
    <div class="<%= flash_class(name, message) %> fade in">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= message %>
    </div>
  <% end %>
</div>