<div class="text-container">
	<h2>Resources List</h2>
	<% if user_signed_in? && current_user.peer_counselor %>
		<%= link_to "Add Resource", new_resource_path, id: "new_link", remote: true %>
	<% end %>
	<div class="resources <%= 'resources-sortable' if user_signed_in? && current_user.peer_counselor %>"
		 data-update-url="<%= sort_resources_url %>">
		<%= render @resources %>
	</div>
</div>

