@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "styles";
@import "message_styles";
@import "conversation";
@import "characteristics";
@import "profiles";
@import "static_pages";
@import "nav";
@import "jquery.mCustomScrollbar.min.scss";
@import "font-awesome";
@import "profiles";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "peer_chat";
@import "form";
@import "intro";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

html {
    min-height: 100%;/* make sure it is at least as tall as the viewport */
    position: relative;
}

body{
    height: 100%; /* force the BODY element to match the height of the HTML element */
}

// styling for the tutorial
.expose {
    position: relative;
    background: #fff;
    border-radius: 4px;
}

#overlay {
    background: rgba(0,0,0,0.3);
    display: none;
    width: 100%; height: 100%;
    position:absolute; top:0; left:0; z-index:99997;
    overflow:hidden;
}

.tooltip-inner { 
    color: #FFFFFF; 
    border: 1px solid;
    padding: 15px;
    font-size: 20px;
    width: 400px;
}

.tooltip {
    z-index: 99999;
}

// Sign Up/Login

.center-text {
	text-align: center;
}

.links {
    margin-top: 10px;
}

.submit-button {
    margin: 0 auto;
}

/* User sign in and sign forms. */
.border-form-div {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}