// Place all the styles related to the characteristics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.expose {
    position:relative;
}

#overlay {
    background:rgba(0,0,0,0.3);
    display:none;
    width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:99998;
}

.profile-header {
    text-align: center;
}

.check-box-scroll {
    height: 200px;
    overflow: auto;
    width: 300px;
}

.filter-box-scroll {
    height: 100px;
    overflow: auto;
    width: 300px;
}

.button-header {
    display: inline;
}

.filter-button {
    display: inline;
    margin-left: 120px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.char-edit {
    margin-top: 10px;
}

.char-section {
    margin-bottom: 20px;
}

.char-field-title {
    font-weight: 600;
}

.char-option {
    font-weight: 400;
}

.check-box-container {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

.button-bottom {
    margin-top: 40px;
    margin-right: 10px;
}

.filters-container {
    border-right-width: 1px;
}

.profile-results-container {
    padding-left: 20px;
}

.filter-legend {
    margin-bottom: 10px;
    width: 300px;
}

.results-container {
    padding-top: 10px;
    margin-bottom: 10px;
}

.profile-result {
    margin-top: 15px;
    margin-bottom: 15px;
}