// Place all the styles related to the characteristics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-header {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    padding: 10px;
}

.check-box-scroll {
    height: 200px;
    overflow: auto;
    width: 300px;
    padding: 1vh;
}

.filter-box-scroll {
    height: 19.5vh;
    overflow: auto;
    width: 300px;
    border: thin solid #c8ccd0;
    padding: 1vh;
}

.button-header {
    display: inline;
}

.filter-button {
    display: inline-block;
    margin-left: 5vw;
    margin-bottom: 1vh;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.char-edit {
    margin-top: 10px;
}

.char-section {
    margin-bottom: 20px;
}

.char-field-title {
    font-weight: 600;
}

.char-option {
    font-weight: 400;
    font-size: 85%;
    display: inline-block;
    margin-bottom: 1px;
}

.check-box-container {
    margin-top: 1.5px;
    margin-bottom: 1.5px;
}

.button-bottom {
    margin-top: 40px;
    margin-right: 10px;
}

.filters-container {
    border-right-width: 1px;
}

.profile-results-container {
    padding-left: 20px;
    border-left: thin solid #c8ccd0;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.search-header {
    border-bottom: thin solid #c8ccd0;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    padding-bottom: 10px;
}

.char-box {
    width: 325px;
    padding: 20px;
    height: 100%;
    background-color: #f3e6ff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.profile-box {
    width: 515px;
    padding: 20px;
    height: 100%;
    background-color: #f9f3ff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
