// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-text-area {
	text-align: center;
}

.preview-content {
	margin-top: 20px;
}

.edit-content-form {
	margin-top: 15px;
}

.edit-content-tab {
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

.edit-content-container {
	margin-top: 20px;
}