// Place all the styles related to the Contents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-text-area {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.preview-content {
	margin-top: 15px;
	padding: 10px;
	border: thin solid #c8ccd0;
	height: 67vh;
	overflow-y: auto;
}

.edit-content-form {
	margin-top: 15px;
}

.edit-content-tab {
	text-align: center;
}

.edit-content-container {
	margin-top: 20px;
}