#error_explanation {
  width: 35vw;
  padding: 7px;
  padding-bottom: 12px;
  margin: 0 auto;
  margin-bottom: -40px;
}

#error_explanation h2 {
  @extend .alert;
  @extend .alert-danger;
  font-size: 15px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
}

#error_explanation {
  color: #f00;
  ul {
  }
}
