// TBWS Color
// #673AB7
// rgba(204,204,204,.9);
$bgDefault      : #fcd68a;
$bgHighlight    : #fcd68a;
$colDefault     : #4e4e4e;
$colHighlight   : #31708f;
$dropDown       : false;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  
  .navbar-brand {
    font-weight: 600;
    font-size: 1.3em;
    color: $colDefault;
    
    &:hover, &:focus {
      color: $colHighlight; 
    }
  }
  
  .navbar-text {
    color: $colDefault; 
  display: inline-block;
    float: none;
    vertical-algin: top;
  }
  
  .navbar-nav {
    > li {
    display: inline-block;
    float: none;
    vertical-algin: top;
      > a {
        color: $colDefault;
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        
        &:hover,  &:focus {
          color: $colHighlight; 
        }
      }
      
      @if $dropDown {
        //margin-left: 55px;
        > .dropdown-menu {
          background-color: $bgDefault;
          margin-left: -55px;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; 
              }
            }
            
            > .divider {
              background-color: $bgHighlight;
            }
          }
        }
        margin-left: -55px;
      }
    }
    
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; 
        }
      }
    }
    
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
  }
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight;
    }
    .icon-bar {
      background-color: $colDefault; 
    }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; 
    text-align: center;}
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; 
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    display: inline-block;
    float: none;
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; 
      }
    }
    
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; 
      }
    }
  }
}

    @media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
    }

.highlight-hover > li:hover {
  color: $colHighlight;
  background-color: $bgHighlight;
}

.unread-count {
  background-color: #fa3e3e;
  border-radius: 10px;
  color: white;
  
  padding: 1px 3px;
  font-size: 10px;
  
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

div.unread-count:empty {
   display: none;
}

// .nav li {
//   border-left: #305a63 1px solid;
// }