// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-scroll {
	height: 82vh;
	overflow: auto;
}

.result-names {
	padding-left: 2vh;
}

#slider-range {
    width: 75%;
    margin-left: 1.5vw;
}

#sort-dropdown {
	display: inline-block;
	float: right;
}

.status-text {
	display: inline;
}

.users-found {
	display: inline;
	float: right;
	font-size: 16px;
	color: #373D3F;
	margin-top: 1vh;
}

.pagination {
	padding: 3px; 
	margin: 3px;
	font-size: 85%;
	/*border: 1px solid rgba(0, 0, 0, 0.38);*/
} 

.pagination a {
	padding: 2px 5px 2px 5px; 
	text-decoration: none; 
}

.pagination a:hover, .pagination a:active {
	/*color: #000;*/
} 

.pagination span.current { 
	font-weight: bold;
	background-color: #000099;
	color: #FFF;
} 

.pagination span.disabled { padding: 2px 5px 2px 5px;
	color: rgba(0, 0, 0, 0.38);
}

.icon-cog {
  color: #2F4F4F;
}
