// Styling for sign up form
.form-header {
  display: inline-block;
}

.header-icon {
  display: inline-block;
}

.vertical-align {
  line-height: 1.43;
  font-size: 16px;
  vertical-align: middle;
}

.border-form-div.reset-password {
	max-width: 400px;
}

.cursor-pointer {
	cursor: pointer;
}

.form-group {
	position: relative;
}

#email-tooltip {
	position: absolute;
	float: right;
	top: 20.5vh;
	right: 1vw;
	font-size: 36px;
}

/* User sign in and sign forms. */
.border-form-div {
    max-width: 387px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    margin-top: 50px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.border-big {
	position: relative;
	padding: 39px 50px 39px;
}

.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"],
.border-form-div input[type="email"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

body .modal-admin {
    /* new custom width */
    width: 450px;
}

.form-margin-top {
	margin-top: 3vh;
}

// Peer Counselor Passcode Styling
#counselor-link {
  margin-top: 1vh;
}
#counselor-passcode {
  display: none;
  margin-top: 10px;
  margin-bottom: 0;
}