.resource {
	margin-top: 2vh;
}

.resource-item h3 {
	display: inline;
}

.resource-item p {
	border-top: thin solid #c8ccd0;
	padding-top: 1vh;
}

// .resource-links {
// 	display: none;
// }

// .resource:hover .resource-links {
// 	display: inline-block;
// }

.resource-links {
	float: right;
}

.resource-links,
.resource-remove-link,
.resource-edit-link {
	font-size: 16px;
	display: inline;
	cursor: pointer;
}

.new_resource,
.edit_resource {
	margin: 0 auto;
}

.simple_form.new_resource,
.simple_form.edit_resource {
	border-top: thin solid #c8ccd0;
	padding-top: 1vh;
    float: none;
    text-align : center;
}