.resource {
	margin-top: 2vh;
}

.resource-item h3 {
	display: inline;
}

.resource-header {
	border-bottom: thin solid #c8ccd0;
	padding-bottom: 1vh;
}

// .resource-links {
// 	display: none;
// }

// .resource:hover .resource-links {
// 	display: inline-block;
// }

.resource-links {
	float: right;
}

.resource-links,
.resource-remove-link,
.resource-edit-link {
	font-size: 16px;
	display: inline;
	cursor: pointer;
}

.new_resource,
.edit_resource {
	margin: 0 auto;
}

.simple_form.new_resource,
.simple_form.edit_resource {
	border-top: thin solid #c8ccd0;
	padding-top: 1vh;
    float: none;
    text-align : center;
}

.resource-placeholder {
	background: #DADADA;
	position: relative;
}
.resource-placeholder:after {
	content: " ";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 15px;
	background-color: #FFF;
}

.resources .handle {
  font-size: 16px;
  cursor: move;
}