// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #fff;
  color: #484848;
  font-family: Merriweather, verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, legend, .navbar, {
  font-family: "Lato";
}

h1, h2, h3 {
	margin-top: 10px;
}

p, ol, ul, td {
  font-family: Merriweather, verdana, arial, helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

#counselors-div {
  height:200px;
  width: 100%;
  background-color: #FDD785;
  color:black;
}
#resources-div {
  height:400px;
  width: 100%;
  background-color: #4A7FD8;
  color:white;
}
#services-div {
  background-color: #243F6B;
}


.my-header {
	color: #FDD785;
	font-size: 10vh;
	font-weight: 600;
	padding-top: 135px;
	padding-bottom: 20px;
	font-family: "Lato";
}

.tagline {
	color: #fff;
  opacity: .95;
	//font-size: 22px;
	font-size: 2.5vh;
	padding-bottom: 5vh;
	font-weight: 400;
}

.register {
	width: 60%;
	margin-top: 20px;
}

.text-container {
	width: 700px;
	margin: 0 auto;
	margin-top: 1vh;
	margin-bottom: 5vh;
	padding: 0 1em;
	padding-top: 1vh;
}

.modal-title {
	margin-bottom: 1vh;
	// color: #4270a2;
}

.btn-twitter {
	background-color: #1da1f2;
	color: white;
}

.btn {
	//padding: 1.5vw 2vh;
}	