.homepage-nav {
	margin-bottom:0px;
}

.body-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.horizontal-align {
  	display:flex;
  	align-items:center;
}

.vertical-center {
  	text-align:center;
}

.online-status-indicator {
	border-radius: 50%;
	width: 8px;
	height: 8px; 
	background: #4CAF50;
	margin-right: 5px;
}

#online-navbar  {
	margin-top:0px;
	margin-bottom:0px;
	//margin-right:50px;
}

#offline-navbar {
	margin-top:0px;
	margin-bottom:0px;
	//margin-right:50px;
	background: #9d9d9d;
}

.offline-status-indicator {
	border-radius: 50%;
	width: 8px;
	height: 8px; 
	background: rgba(0, 0, 0, 0.38);
	margin-right: 5px;
}

.homepage {
	height: 94.5vh;
    background: linear-gradient(
                  rgba(0, 0, 0, .5),
                  rgba(0, 0, 0, .5)
    ),
    /* bottom, image */
    image-url("berkeley.png");
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	padding: 0;
	margin: 0;
}

.nav-icon {
	margin-right: 1vh;
}

// Flash message styles
.alert-info {
	background-color: #5DAC58;
	border-color: transparent;
    color: #fff;
    font-weight: 500;

    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: all 0.4s ease-in-out;

    animation: signup-response 0.5s 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;

    -webkit-animation: signup-response 0.5s 1;
    -webkit-animation-delay: 1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
}

.alert, #error_explanation h2 {
	margin-bottom: 0;
}

.flash {
    // background-color: rgba(192, 192, 192, 0.5);
    text-align: center;
}

@keyframes signup-response{
    from {
    	opacity :1;
    }
    to {
    	transform: translateY(-100%);
    	opacity :0;
    }
}

@-webkit-keyframes signup-response{
    from {opacity :1;}
    to {
    	opacity :0;
    	transform: translateY(-100%);
    }
}

.no-animation {
    animation: none;
    -webkit-animation: none;
    -moz-animation: none;
}
