<p>Welcome <%= @email %>!</p>

<p>We only ask for your email to verify that you are a UC Berkeley student.</p>

<p>Your identity and information will be kept anonymous.</p>

<p>Please confirm your email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
