<div class="char-title edit-field-title"><%= title %></div>
<% @profile.characteristics.select { |char| char.category == name }.each do |char| %>
  <ul class="edit-field-body">
    <div class="char-option"><%= char.name %></div>
  </ul>
<% end %>